.swiper-carousel-container{
	position: relative;
}
.__tm-carousel{
	.swiper-wrapper{
		//display: flex;
		//flex-direction: row;
		//align-items: stretch;
			.swiper-slide{
				//flex: 0 1 auto;
				//align-self: auto;
				//height: auto;
			}
	}
}
.swiper-button-next, .swiper-button-prev{
	width: 50px;
	height: 50px;
	background-image: none;
	background-color: #2b8ffb;
		i{
			margin: 13px;
		}
		&.button-prev{
			left: 0;
			border-radius: 0 4px 4px 0;
		}
		&.button-next{
			right: 0;
			border-radius: 4px 0 0 4px;
		}
}
.swiper-wrapper{
	.post{
		@include box-shadow();
		padding: 0;
		.inner{
			background-color: #fff;
			overflow: hidden;
			border-radius: $border__radius;
				&:hover{
					border-radius: 4px;
					background-color: #eef4fa;
				}
		}
		.entry {
			&-header {
				padding-top: 0;
			}
			&-content {
				margin: 0;
				padding: 0 30px;
			}
			&-footer {
				margin: 22px 0px;
				padding: 0 30px;
				border: 0;
			}
		}
		h4{
			margin: 10px 0;
		}
		.post-thumbnail__link{
			overflow: hidden;
			margin-bottom: 1.3em;
			display: block;
			img{
				display: block;
				@include scale(1);
				@include transition(all 1s ease);
			}
			&:hover{
				img{
					@include scale(1.2);
				}
			}
		}
		.material-icons{
			font-size: 16px;
			margin-right: 10px;
		}
		&__cats{
			position: absolute;
			top: 30px;
			left: 30px;
			a{
				font-size: 14px;
				color: #fff;
				background-color: #2a8ffc;
				padding: .25em .5em;
				margin-right: 5px;
					&:last-child{
						margin-right: 0;
					}
			}
		}
		&__date{
			font-size: 14px;
		}
		&__comments{
			font-size: 14px;
		}

		&__author{
			font-size: 14px;
		}

		&__excerpt{

		}
	}
}
