.sidebar-primary, .sidebar-secondary, .footer-area .col-md-4, .footer-area .col-md-3, .footer-area .col-md-2{
	.swiper-carousel-container{
			.swiper-button-next, .swiper-button-prev{
				width: 30px;
				height: 30px;
				top: 22%;
					i{
						margin: 3px;
					}
			}
			.swiper-button-next{
				right: -1px;
			}
	}
}
.swiper-carousel-container{
	position: relative;

	.swiper-pagination {
		position:static;
	}
}
.king_news-carousel{
	.swiper-wrapper{
		.swiper-slide{
			display: flex;
			height: auto;
		}
	}
}
.swiper-button-next, .swiper-button-prev{
	top:38%;
	width: 50px;
	height: 50px;
	margin:0;
	background-image: none;
	background-color: #2b8ffb;
		i{
			margin: 13px;
		}
		&.button-prev{
			left: 0;
			border-radius: 0 4px 4px 0;
		}
		&.button-next{
			right: 0;
			border-radius: 4px 0 0 4px;
		}
}
.swiper-wrapper{
	.single-post{
		.post__cats{
			position: absolute;
		}
	}
	.post{
		@include box-shadow();
		padding: 0;
		.inner{
			background-color: #fff;
			overflow: hidden;
			border-radius: $border__radius;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-self: stretch;
				&:hover{
					border-radius: 4px;
					background-color: #eef4fa;
				}
		}
		.entry {
			&-header {
				padding-top: 0;
			}
			&-content {
				margin: 0;
				padding: 0 30px;
			}
			&-footer {
				margin: 22px 0px;
				padding: 0 30px;
				border: 0;
			}
		}
		h4{
			margin: 10px 0;
		}
		.post-thumbnail__link{
			overflow: hidden;
			margin-bottom: 1.3em;
			display: block;
			img{
				width: 100%;
				display: block;
				@include scale(1);
				@include transition(all 1s ease);
			}
			&:hover{
				img{
					@include scale(1.2);
				}
			}
		}
		.material-icons{
			font-size: 16px;
			margin-right: 10px;
		}
		&__cats{
			position: absolute;
			top: 30px;
			left: 30px;
			a{
				font-size: 14px;
				color: #fff;
				background-color: #2a8ffc;
				padding: .05em .5em;
				margin-right: 5px;
					&:last-child{
						margin-right: 0;
					}
			}
		}
		&__date{
			font-size: 14px;
		}
		&__comments{
			font-size: 14px;
		}

		&__author{
			font-size: 14px;
		}

		&__excerpt{

		}
	}
}
