h1, h2, h3, h4, h5, h6 {
	margin: 10px 0;
}

.title-line {
  position: relative;
  background: #fff;
  display: inline-block;
  padding-right: 11px;

  &:before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 2000px;
    height: 1px;
    left: 0;
    bottom: 6px;
    background: #000;
    z-index: -1;
  }
  &:after {
    @include clearfix();
  }
}

h2 + .posts-list { margin-top: 30px; }