h2 + .posts-list { margin-top: 30px; }
h1 + .entry-meta { margin-top: 18px; padding-bottom: 5px; }
.breadcrumbs + .container { margin-top: 46px; }
.post-thumbnail + .entry-content { margin-top: 22px; }
p > img {margin-top: 17px; margin-bottom: 7px;}
