.btn,
button,
.comment-form .submit,
.post-password-form label + input {
	color: $regular_text_color;
	background: $regular_accent_color_2;
	transition: .4s all ease;
	font-family: $h3_font_family;
}
.btn:hover,
button:hover,
.comment-form .submit:hover,
.post-password-form label + input:hover {
	color: $invert_link_color;
	background: $regular_accent_color_2;
	background: @lighten( $regular_text_color, 20% )
}
.btn:focus,
button:focus,
.comment-form .submit:focus {
	box-shadow: 0 0 1px $regular_accent_color_1;
}

.btn.btn-secondary,
.invert .btn {
	background: $regular_accent_color_2;
}
.btn.btn-secondary:hover,
.invert .btn:hover {
	background: @lighten( $regular_text_color, 20 );
	color: $invert_link_color;
}


// contact form 7 plugin
.wpcf7-form {
	font-family: $h2_font_family;
}
.page.type-page .wpcf7-form p > img {margin-top: 0;}
.wpcf7-form .wpcf7-submit{
	transition: .4s all ease;
	font-family: $h3_font_family;
	background: $regular_accent_color_2;
}
.wpcf7-form .wpcf7-submit:hover{
	color: $regular_accent_color_2;
	background: $regular_text_color;
}


ol li:before, ul li:before {
	color: $regular_accent_color_1;
}


blockquote cite {
	color: $regular_accent_color_1;
	font-family: $h2_font_family;
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
}