.page-preloader-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
	display: block;
}

.tm-rotating-plane {
	width: 60px;
	height: 60px;
	background-color: #298ffc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
	-webkit-animation: tm-rotatePlane 1.2s infinite ease-in-out;
		animation: tm-rotatePlane 1.2s infinite ease-in-out;
}

@-webkit-keyframes tm-rotatePlane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
				transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
				transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
				transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

@keyframes tm-rotatePlane {
	0% {
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
				transform: perspective(120px) rotateX(0deg) rotateY(0deg);
	}
	50% {
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
				transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
	}
	100% {
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
				transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}