.footer-area {
	padding-top: 49px;
	padding-bottom: 30px;
}
.footer-container {
	padding: 0px 0px;
}

.footer-inner-line {
  padding-top: 4px;
  border-top: 3px solid #000;
}
.footer-inner {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #000;

  padding-left: 30px;
  padding-right: 30px;

  .container & {
    padding-left: 0;
    padding-right: 0;
  }

}

@import "footer/layout-default";
@import "footer/layout-centered";
@import "footer/layout-minimal";


.footer-area-wrap {
  .widget:not(.widget-subscribe) {
    .widget-title {
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
    }
  }
}

.site-footer {
  font-size: 14px;
  margin-top: 22px;
  @include media-breakpoint-up(lg) {
    margin-top: 22px;
  }


}