.site-header {
	margin-bottom: 15px;
}

.header-container {
	box-shadow: $box__shadow;
	.header-container_inner {
		border-bottom: 3px solid #000;
	}
}
.header-container {
	padding: 25px 30px 0;

	.header-container__flex {
		padding-left: 30px;
		padding-right: 30px;

		.container & {
			padding-left: 0;
			padding-right: 0;
		}

	}

	&.isStuck {
		  z-index: 1999;
		  padding: 0;
		  .site-branding {
				display: none;
			}
			.main-navigation ul.menu > li > a {
		    padding: 10px 17px 10px;
			}
			.social-list.social-list--header {
				display: none;
			}
			.main-navigation {
				padding-top: 0;
				width: 100% !important;
				text-align: center;
				margin-bottom: 0 !important;
				.menu {
					text-align: center;
				}
				.admin-bar & {
					padding-top: 25px !important;
					margin-bottom: 0 !important;
				}
			}
		}

		@media only screen and (max-width: 1199px) {
		  &.isStuck {
		    display: none !important;
		  }
		}
}

@import "header/layout-default";
@import "header/layout-centered";
@import "header/layout-minimal";
@import "header/top-panel";
@import "header/logo";