.share-btns {
	&__list {
		.posts-list & {
			float: left;
			margin-top: 0;
			@include media-breakpoint-up(lg) {
				margin-top: 0;
			}
		}

		.single-post & {
			margin-top: 15px;
			&.share-btns__list-single-page {
				margin-top: 0;
			}
			@include media-breakpoint-up(sm) {
				//float: right;
			}
		}
	}
	&__item {
		display: inline-block;
		vertical-align: top;

	}
	&__link {
		display: block;
		width: 31px;
		height: 20px;
		@include font-size(1);
		font-size: 16px;
		line-height: 20px;
		text-decoration: none;
		text-align: center;
		border-radius: 50%;
		opacity: 1;
		color: #999999;
		&:hover {
			opacity: 1;
			color: #000;
			background: none;
		}

		.share-btns__list-single-page & {
			width: 50px;
			height: 50px;
			line-height: 50px;
			background: #000;
			color: #fff;
			margin: 0 5px 5px 0;

			&:hover {
				opacity: 1;
				color: #000;
				background: #777;
			}
		}
	}
}

.share-btns-main {
	display: inline-block;
	position: relative;
	.material-icons {
		font-size: 20px;
		cursor: pointer;
		z-index: 10;
		position: relative;
	}

	.share-btns__list {
		position: absolute;
		top: 0;
		right: -5px;
		opacity: 0;
		width: 195px;
		padding-right: 35px;
		transition: .4s all ease;
		visibility: hidden;
		background: rgba(#fff,0.9);
	}

	&.show-share-list {
		.share-btns__list {
			opacity: 1;
			right: 0;
			visibility: visible;
		}
	}
}

.entry-meta-sharing {
	@include clearfix();
	.entry-meta {
		float: left;
	}
	.share-btns-main {
		float: right;
	}
}


.widget-image-grid {
	.share-btns-main {
		display: inline-block;
		position: relative;
		.material-icons {
			font-size: 20px;
			cursor: pointer;
			z-index: 10;
			position: relative;
		}

		.share-btns__list {
			position: absolute;
			top: -5px;
			right: -5px;
			opacity: 0;
			width: 180px;
			padding: 5px;
			transition: .4s all ease;
			visibility: hidden;
			background: rgba(#000,0.8);
		}

		&.show-share-list {
			.share-btns__list {
				opacity: 1;
				right: 0;
				visibility: visible;
			}
		}
	}
}