.top-panel {
	font-size: 14px;
	&__wrap {
		padding: 25px 0 10px;
		@include media-breakpoint-up(lg) {
			padding: 50px 0 10px;
		}
		border-bottom: 1px solid $color__line;
		&:after {
			clear: both;
			content: "";
			width: 100%;
			display: block;
		}
	}
	&__message {
		float: left;
		margin-right: 10px;
		padding-top: 4px;
		.material-icons {
			background: #fff;
			width: 29px;
			height: 29px;
			border-radius: 15px;
			line-height: 29px;
			text-align: center;
			@include font-size(1);
			font-size: 16px;
			margin: 0 10px 0 0;
			vertical-align: middle;
			&.indent-left {
				margin-left: 35px;
			}
		}
	}
	&__search {
		float: left;
		@media (max-width: 544px) {
		    .search-form .search-form__field {
		    	.top-panel & {
			    	padding-left: 0;
			    }
		    }
		}
		@include media-breakpoint-up(sm) {
			float: right;
		}
		
	}
	&__menu {
		float: right;
		margin: 0;
		padding: 4px 10px;
		&-list {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				padding: 0 5px;
				a {
					text-decoration: none;
				}
				&.current-menu-item,
				&.current_page_item,
				a:hover {
					text-decoration: none;
				}
			}
		}
	}

	&__register {
		float: right;
		padding: 5px 0;
		a {
			margin-left: 10px;
			@include media-breakpoint-up(lg) {
			  margin-left: 31px;
			}
		}
	}

	.search-form {
		border-right: 1px solid $color__line;
		@media (max-width: 500px) {
			border: none;
		}
		margin: 0;
		margin-right: 4px;
		padding-right: 7px;
		.search-form__field {
			background: none;
			border: none;
			border-radius: 0;
			width: 129px;
			display: inline-block;
			vertical-align: middle;
			padding: 4px 5px 6px;
			margin-bottom: 0;
		}
		.search-form__submit {
			background: none;
			border: none;
			padding: 0;
			box-shadow: none;
			display: inline-block;
			vertical-align: middle;
			padding-top: 4px;
			width: 30px;
			@include media-breakpoint-up(lg) {
				width: 45px;
			}
			i.material-icons {
				font-size: 20px;
			}
		}
	}

	@media (max-width: 500px) {
		.top-panel__message,
		.top-panel__register {
			display: none;
		}
		.top-panel__search {
			width: 100%;

			.search-form .search-form__field {
				width: 100%;
				max-width: calc(100% - 39px);
			}
		}
	}
}