.swiper-pagination .swiper-pagination-bullet{
	background-color: $regular_accent_color_1;
}
.swiper-button-next, .swiper-button-prev{
	color: $invert_link_color;
	background: $regular_accent_color_2;
}
.swiper-button-next:hover{
	color: #fff;
	background: $regular_accent_color_1;
}
.swiper-button-prev:hover{
	color: #fff;
	background: $regular_accent_color_1;
}
.swiper-button-next .material-icons, .swiper-button-prev .material-icons{
	color: $regular_text_color;
}
.swiper-button-next:hover .material-icons, .swiper-button-prev:hover .material-icons{
	color: #fff;
}

.footer-area .swiper-wrapper .post .inner{
	background-color: $regular_accent_color_2;
}