.comment {
	&-respond {
		margin: 0 -10px;
		padding: 12px 10px 0;
		border-top: 1px solid $color__background-hr;
		@include media-breakpoint-up(lg) {
			margin-right: -30px;
			margin-left: -30px;
			padding-right: 30px;
			padding-left: 30px;
		}
	}
	&-reply-title {
		@include media-breakpoint-up(lg) {
			font-size: 20px;
			line-height: 1.4;
		}
	}
	&-notes {
		margin: 15px 0 25px;
	}
	&-form {
		&-comment,
		&-author,
		&-email,
		&-url {
			margin: 0 0 10px;
		}
		&__field {
			width: 100%;
			vertical-align: top;
		}
	}
}