.site-header.default {
	.header-container {
		padding-top: 10px;
	}
	.main-navigation {
		text-align: left;
		clear: both;
		padding: 10px 0 0 0;
		margin-bottom: -3px;
		ul.menu {
			> li {
				margin-left: 0;
			}
		}
	}
	.site-branding {
		margin-top: 4px;
		float: left;
	}
	.social-list {
		float: right;
		padding: 10px 0;
	}

	@media (max-width: 599px) {
		.site-branding {
			text-align: center;
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: -25px;
			margin-top: 15px;
			width: 100%;
			a img {
				max-width: 200px;
			}
		}
		.menu-toggle {
			position: relative;
			top: -9px;
			margin-bottom: 0;
		}
		.main-navigation {
			margin-top: -20px;
		}

		.social-list {
			position: relative;
			top: 20px;
			padding-bottom: 0;
		}

		.row {
			& > div:nth-child(1) {
				order: 1;
			}
			& > div:nth-child(2) {
				order: 3;
			}
			& > div:nth-child(3) {
				order: 2;
			}
		}
	}

	@include media-breakpoint-up(lg) {
		.main-navigation ul.menu {
			margin: 0 -50px;
		}
	}

	.header-container.isStuck {
		padding-top: 0;
		.main-navigation {
			padding-top: 0;
			margin-bottom: -3px;
		}
		.site-header.default .main-navigation ul.menu {
			margin: 0 -140px;
		}
	}
}