.not-found {
	@include card;
	padding: 0px;
	text-align: center;
	@include media-breakpoint-up(lg) {
		padding: 0px;
	}

  h4 + p {
    padding-bottom: 61px;
    margin-bottom: 52px;
    border-bottom: 1px dotted $color__line;

    & + p {
      margin-bottom: 15px;
    }
  }

  .page-title {
    @include media-breakpoint-up(lg) {
      font-size: 150px;
      margin-top: 0;
      margin-bottom: -10px;
    }
  }

  h4 {
    font-style: normal;
    @include media-breakpoint-up(lg) {
      font-size: 50px;
      margin-bottom: 26px;
    }
  }
}
.error-404 {
  @include media-breakpoint-up(xl) {
    margin-top: -12px;
  }
}