.site-header.default {
	.header-container {
		padding-top: 10px;
	}
	.main-navigation {
		text-align: left;
		clear: both;
		padding: 10px 0 0 0;
		ul.menu {
			> li {
				margin-left: 0;
			}
		}
	}
	.site-branding {
		margin-top: 4px;
		float: left;
	}
	.social-list {
		float: right;
		padding: 10px 0;
	}

	@media (max-width: 599px) {
		.site-branding {
			border-bottom: none;
			margin-left: 50px;
			padding-bottom: 0;
			margin-bottom: -40px;
		}
		.menu-toggle {
			position: relative;
			top: -13px;
		}
		.main-navigation {
			margin-top: -20px;
		}
	}

	@include media-breakpoint-up(lg) {
		.main-navigation ul.menu {
			margin: 0 -50px;
		}
	}
}