.news-smart-box{
	margin-top: 13px;
	margin-bottom: 12px;

	a {
		text-decoration: none;
	}



	.entry-meta {
		.meta-inner {
			float: left;
			max-width: calc(100% - 30px);
		}
		.share-btns-main {
			float: right;
			margin-top: 1px;
		}
	}
	.post__cats {
		a {
			margin-right: 5px;
		}
	}

	.widget-new-smart__title-small {
		margin-bottom: 0;
		@media (min-width: 1340px) {
			margin-top: -8px;
		}
		@include media-breakpoint-up(xl) {
			line-height: 1.2666;
		}
		a {
			text-decoration: none;
		}
	}

	&__instance{
		article.post{

			&.full-type{
				.inner{
					margin-top: 0;
					padding-top: 0;
					border-top: none;
				}
			}
			&.mini-type{
				.entry {
					&-header {
						max-width: 240px;
						float: left;
						margin-right: 20px;
						@media (max-width: 1340px) {
								max-width: 100%;
								margin-right: 0;
								margin-bottom: 10px;
								float: none;
						}
					}
					&-content {
						margin-top: 0;
					}
					&-footer {

					}
				}
			}
			.inner{
				margin-top: 20px;
				padding-top: 30px;
				border-top: 1px dotted #d2d1d1;
				@include transition(all 0.8s ease);
				&.animate-cycle-show{
					@include opacity(0);
					@include translate( 0, 30px );
					@include transition(all 0s ease);
				}
			}
			.entry {
				&-header {

				}
				&-content {

				}
				&-footer {

				}
			}
			.post-thumbnail__link{
				display: block;
				margin-bottom: 10px;
				img{
					width: 100%;
					display: block;
				}
			}
			&__cats{

			}
			&__date{
				float: left;
			}
			&__comments{
				float: left;
			}
			&__author{
				float: left;
			}
			&__excerpt{

			}

		}
		&.layout_type_1{
			.row{
				display: block;
			}
			.full-type{
				float: left;
			}
			.mini-type{
				float: left;
				&.post-item-1{
					.inner{
						margin-top: 0;
						padding-top: 0;
						border-top: none;
					}
				}
			}
		}
		&.layout_type_2{

		}
		&.layout_type_3{
			.full-type{
				.entry {
					&-header {
						max-width: 50%;
						float: left;
						margin-right: 30px;
					}
					&-content {
						margin-top: 0;
					}
					&-footer {

					}
				}
			}
		}
	}
	&__navigation{
		display: flex;
		align-items: flex-start;
		@media (max-width: 1199px) {
			flex-direction: column;
		}
		margin-bottom: 20px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 54px;
		}
			.current-term{
				flex: 0 1 auto;
				position: relative;
				span{
					display: block;
					@include media-breakpoint-up(lg) {
						font-size: 40px;
						line-height: 1.1;
					}
					padding-right: 10px;
				}
			}
			.terms-list{
				flex: 1 1 auto;
				margin-top: 4px;
				font-weight: 700;
				.terms-container{
					float: right;
				}
				.term-item{
					position: relative;
					display: inline-block;
					margin: 0;
					cursor: pointer;
					margin-left: 1px;
					span{
						display: block;
						padding: 0 7px 11px 7px;
						@include media-breakpoint-up(xl) {
							padding: 0 17px 11px 17px;
						}
					}
					&:before{
						width: 0%;
						height: 3px;
						display: block;
						position: absolute;
						left: 50%;
						bottom: -1px;
						background-color: #000;
						opacity: 0;
						content: '';
						@include transition( all 0.4s ease);
					}
					&:hover{
						&:before{
							width: 100%;
							left: 0;
							bottom: -1px;
							opacity: 1;
						}
						//font-style: italic;
					}
				}
			}
	}
	&__wrapper{
		position: relative;
	}
	&__listing{

	}
	&__preloader{
		position: relative;
		display: none;
		width: 100%;
	}
}

.nsb-spinner {
	width: 25px;
	height: 25px;
	position: absolute;
	display: none;
	top: 10px;
	right: -26px;
}

.double-bounce-1, .double-bounce-2 {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #333;
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: 0;
	animation: tm-bounce 2.0s infinite ease-in-out;
	display: none;
}

.double-bounce-2 {
	animation-delay: -1.0s;
}

@keyframes tm-bounce {
	0%, 100% {
		transform: scale(0.0);
	} 50% {
		transform: scale(1.0);
	}
}



.widget-new-smart-inner-big-after-content {
	display: none;
}
.before-loop-area {
	.widget-new-smart-inner-big-after-content {
		display: none;
	}
	.post__comments {
		display: none;
	}
}


.after-loop-area {
	.widget-new-smart-inner-big-before-content {
		display: none;
	}
	.post__date {
		margin-right: 7px;
	}
	.widget-new-smart-inner-big-after-content {
		display: block;
		.entry-meta-sharing {
			overflow: hidden;
			margin-top: 23px;
			margin-bottom: 14px;
		}
		.entry-header.entry-header {
			max-width: 50%;
			float: left;
			margin-right: 30px;
			@include media-breakpoint-up(xl) {
				max-width: 47.3%;
				margin-right: 60px;
				margin-top: 8px;
			}
			@media (max-width: 1470px) {
				margin-right: 20px;
			}

			@media (max-width: 991px) {
					float: none;
					margin-right: 0;
					margin-bottom: 20px;
					width: 100%;
					max-width: 100%;
			}
		}

		.entry-footer {
			display: block;
			margin-top: 30px;
			display: flex;
			align-content: center;
			align-items: center;
			justify-content: space-between;

			& > a {
				margin-top: 0;
			}
			.share-btns-main {
				display: block;
			}
		}
	}

	.news-smart-box__instance article.post.mini-type .entry-header {
		max-width: 100%;
		@media (max-width: 1479px) {
				float: none;
				margin-right: 0;
				margin-bottom: 20px;
		}
		@media (min-width: 1480px) {
				max-width: 150px;
		}

	}
	.news-smart-box__instance article.post.mini-type .post__excerpt {display: none;}
	.news-smart-box__instance article.post.mini-type .entry-meta {
		margin-top: 10px;
	}
}


.widget-new-smart-inner-big-before-content {


	.full-type + .full-type {
		margin-top: 20px;
	}


	figure {
		position: relative;

		.post-thumbnail__link img {
			/* max-height: 322px; */
		}

		.post__date {
			.material-icons {
				color: #fff;
			}
		}

		figcaption {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 0;
			padding: 0 30px;
			text-align: center;
			display: flex;
			align-content:center;
			align-items:flex-start;
			justify-content:space-between;

			flex-wrap:wrap;
			opacity: 1;
			flex-direction: column;
			padding: 5px;
			text-align: left;
			@media (max-width: 767px) {
					padding: 12px;
			}
			@include media-breakpoint-up(xl) {
				padding: 30px 30px 25px;
			}
			&:before {
				content:'';
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: 0.7;
				z-index: -1;
				@include gradient_vertical(rgba(#000,0), rgba(#000,1));
				transition: .4s all ease;
			}

			&:hover::before {
				opacity: 1;
			}

			.post__cats {
				position: absolute;
			}

			.widget-new-smart__title {
				color: #fff;
			}
			.post-date__link {
				font-size: 14px;
				&:hover {
					color: #fff;
				}
			}


			.widget-new-smart__footer {
				width: 100%;
			}

			.widget-new-smart__footer-2 {
				flex-wrap: wrap;
				align-content: center;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				display: flex;
			}

			@media (min-width: 991px) and (max-width: 1350px) {
					.widget-new-smart__title {
						font-size: 20px;
					}
			}
		}
	}
}



.news-smart-box{

	@media (max-width: 467px) {
			.current-term {
				display: none !important;
			}
		}

	.full-type {
		@media (max-width: 467px) {
			.post__cats, .widget-new-smart__footer-2 {
				display: none !important;
			}
		}
	}
}