a {
	color: $color__link;
	transition: .4s all ease;

	&:hover,
	&:focus,
	&:active {
		/*color: $color__link-hover;*/
		color: inherit;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}

	h1 &, h2 &, h3 &, h4 &, h5 &, h6 & {
		color: inherit;
		text-decoration: none;
	}
}

.entry-content a {
	text-decoration: underline;
}