.site {
	@include hyphens(auto);
	&-main {
		overflow: hidden;
		.single-post &,
		.page & {
			padding: 0px;
			@include card;
			@include media-breakpoint-up(lg) {
				padding: 0px;
			}
		}
	}
	.site-content {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@import "../layout/layout";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/
@import "primary/header";

/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Post Formats
--------------------------------------------------------------*/
@import "primary/post-formats";

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
@import "primary/footer";

/*--------------------------------------------------------------
## Asides
--------------------------------------------------------------*/
@import "primary/asides";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/offsets";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";