$border__radius: 0px;
$box__shadow: none;

$size__site-main: 100%;
$size__site-sidebar: 25%;

$button__indents: 15px 30px;
$button__border-radius: $border__radius;
$button__border: none;
$button__box-shadow: none;